/* body{
    background-color: #333;
} */
* {
    user-select: none;
}

/* .skills-carrousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
    gap: 15px;
}

@media (max-width: 768px) {
    .skills-carrousel {
        flex-direction: column;
    }

    .col {
        margin: 7.5px 0;
    }
} */


.fam-gallery-marquee {
    overflow: hidden;
}

.fam-gallery {
    display: flex;
    animation: marquee 20s linear infinite;
    gap: 15px;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}


.container-fluid {
    min-height: 100vh;
    transition: all 0.5s ease;
    position: sticky;
    top: 0;
}

.pr {
    background-color: #7e7e7e;
    color: #d3d3d3;
}

.im {
    background-color: rgb(233, 232, 232);
    color: #464646;
}

a {
    text-decoration: none !important;
    color: #333 !important;
    cursor: default;
}

h3 {
    width: fit-content;
    transition: transform .5s ease;
    font-size: 2rem !important;
}

/*solo en el main*/
#main h3:hover {
    transform: translateX(15px);
    animation-duration: 2s;
}

/* .at-top {
    background-color: #ffd16f;
    color: white;
} */
#about-me#about-me h1,
#skills h1,
#projects h1,
#contact h1 {
    color: transparent;
    /* Lo hago transparente, si lo pongo display none no está el espacio*/
}

#backtt {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* ver pq no funciona */
#backtt:hover svg {
    transform: translateY(-5px);
}

/* Mejorar esto */
.card-img-top {
    max-width: 100% !important;
    height: auto !important;
}

.card-body {
    padding: 0;
}

/* Fades */
/* .fade-in{
    opacity: 1;
    transition: opacity 2.5s ease;
}

.fade-out{
    opacity:  1;
    transition: opacity 0.5s ease;
} */