/* body{
    background-color: #333;
} */
*{
    user-select: none;
}

.container-fluid{
    min-height: 100vh;
    transition: all 0.5s ease;
    position: sticky;
    top: 0;
}
.pr {
    background-color: #7e7e7e;
    color: #d3d3d3;
}

.im {
    background-color: rgb(233, 232, 232);
    color: #464646;
}
a{
    text-decoration: none !important;
    color: #333 !important;
}

h3 {
    width: fit-content;
    transition: transform .5s ease;
    font-size: 2rem !important;
}

h3:hover {
    transform: translateX(15px);
    animation-duration: 2s;
}

/* .at-top {
    background-color: #ffd16f;
    color: white;
} */
#about-me#about-me h1, #skills h1, #projects h1, #contact h1 {
    color: transparent; /* Lo hago transparente, si lo pongo display none no está el espacio*/
}

#backtt {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* ver pq no funciona */
#backtt:hover svg {
    transform: translateY(-5px);
}